h1 {
  padding: 3rem 2rem;
}

img {
  border-radius: 100%;
}
.headshot {
  text-align: center;
  margin-bottom: 2rem;
}

.about-1,
.about-2,
.about-3 {
  padding: 2rem 2rem;
}

.about-1,
.about-3 {
  background: var(--tertiary-color);
}
