.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: .8rem;
}
.blog-post {
    border: 1px solid red;
}

.blog-1 {
  grid-column: 1 / 3;
  grid-row: 1;
}
.blog-4 {
  grid-column: 1 / 3;
  grid-row: 4;
}

