.hero-text {
  font-family: var(--font-heading);
  font-size: var(--fs-xl);
  text-align: left;
}
.greeting {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  color: var(--font-color);
}

.standout {
  text-transform: uppercase;
  animation: glow 2s ease-in infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px rgb(28, 28, 233);
  }
  to {
    text-shadow: 0 0 10px #da1b1b;
  }
}

.sub-hero {
  letter-spacing: 0.2em;
  margin-top: 5vh;
}

section {
  padding: 4rem 1.3rem;
}
.section-2 {
  background-color: var(--bg-color);
}
.section-2 p {
  padding-top: 1.2rem;
}

.language-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid black;
}

.language-card p {
  font-size: var(--fs-s);
  padding: 0.7rem 0;
}

.languages img {
  height: 10vh;
}

.arrow {
  font-size: 5rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.488);
  text-align: center;
}