/* Intro Section */

.hero-text {
  text-align: left;
  font-size: 15vh;
}

.greeting {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  color: var(--font-color);
}

.standout {
  text-transform: uppercase;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 6px 3px 10px #3aa4c1;
  }
  to {
    text-shadow: 3px 6px 10px #5f1c39;
  }
}

.sub-hero {
  letter-spacing: 0.2em;
  margin-top: 3.5vh;
}

/* Blurb Section */

section {
  padding: 1.3rem;
}

.section-2 {
  color: var(--font-color);
  background-color: var(--tertiary-color);
  margin: 0 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.192);
  border-radius: 2px;
}

.blurb {
  font-family: var(--font-heading);
  line-height: 1.5em;
  font-size: var(--fs-m);
}

.section-2 p {
  padding-top: 1.2rem;
}

/* Language Section */

.language-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 1rem;
  border-top: 1px solid black;
}

.language-card h3 {
  font-family: var(--font-paragraph);
}

.language-card p {
  padding: 0.7rem 0;
}

.languages img {
  height: 10vh;
}

.languages img:hover {
  filter: brightness(1.1);
}

@media screen and (min-width: 769px) {
  .language-card {
    flex-flow: row nowrap;
  }
  .hero-text {
    font-size: var(--fs-xxl);
  }
}
