h1 {
  font-family: "Exo";
  font-size: 15vh;
}

.greeting {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  margin-top: 2rem;
  color: var(--font-color);
}

.standout {
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #2d9da9;
  }
  to {
    text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
  }
}
