/* Global Styles */

:root {
  --primary-color: #fffafa;
  --secondary-color: #eeedeb;
  --tertiary-color: #3aa3c136;
  --font-color: #292727;
  --font-heading: "Suez One", sans-serif;
  --font-subheading: "Bebas Neue", sans-serif;
  --font-paragraph: "Hubballi", sans-serif;

  --fs-s: 1.5rem;
  --fs-m: 1.8rem;
  --fs-l: 2rem;
  --fs-xl: 4rem;
  --fs-xxl: clamp(8rem, 12vw + 1rem, 10rem);
}

/* Reset Browser Defaults */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Page Layout */

html {
  width: 100%;
  height: 100vh;
}

body {
  height: 100vh;
  font-family: var(--font-paragraph);
  background: var(--primary-color);
  color: var(--font-color);
}

main {
  max-width: 60rem;
  margin: 0 auto;
  animation: 1s ease-out 0s 1 fadeIn;
}

/* Global Text Styles */

h1 {
  font-family: var(--font-heading);
  font-size: var(--fs-xl);
}

h2 {
  font-family: var(--font-subheading);
  font-size: var(--fs-l);
  letter-spacing: 0.15rem;
}

h3 {
  font-family: var(--font-heading);
  line-height: 1.5em;
  font-size: var(--fs-m);
}

p {
  font-family: var(--font-paragraph);
  line-height: 1.8em;
  font-size: var(--fs-s);
}

/* Header Component */

header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  background: linear-gradient(
    180deg,
    rgb(208, 215, 215) 24%,
    rgba(255, 250, 250, 1) 100%
  );
}

.logo {
  font-family: var(--font-heading);
  letter-spacing: 0.2em;
  padding: 1.5rem 0;
  font-size: clamp(1.5rem, 2.5vw, 4rem);
}

.logo-link {
  text-decoration: none;
  color: var(--font-color);
}

.logo:hover {
  transform: scale(1.02);
}


/* Nav Component - Desktop & Tablet */
.nav-menu {
  font-size: var(--fs-s);
}

.nav-menu ul {
  list-style: none;
  text-align: center;
}

.nav-menu a {
  display: inline;
  text-decoration: none;
  color: var(--font-color);
  padding: 0.5rem;
  border-radius: 2px;
  transition: box-shadow 0.3s ease-in-out;
}
.nav-menu a:hover {
  box-shadow: inset 100px 0 0 0 var(--tertiary-color);
}

.nav-menu li {
  display: inline;
}

/* Hamburger Icon - Mobile Only */

.hamburger {
  display: none;
}

.bar1,
.bar2 {
  width: 40px;
  height: 5px;
  border-radius: 6px;
  background-color: var(--font-color);
  margin: 7px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.change .bar2 {
  transform: rotate(45deg) translate(-2px, -2px);
}

@media screen and (max-width: 768px) {
  /* Show Hamburger Menu */

  .hamburger {
    display: block;
  }
  .nav-menu {
    display: none;
    position: fixed;
    overflow: hidden;
    font-size: 2rem;
    height: 100vh;
    top: 0;
    left: 0;
    line-height: 1.7em;
    background-color: var(--primary-color);
  }

  .nav-menu a {
    display: block;
    width: 100vw;
    height: auto;
    background-color: var(--secondary-color);
    margin-bottom: 0.2vh;
  }

  .nav-menu a:hover {
    box-shadow: none;
    background-color: var(--tertiary-color);
  }

  .nav-menu .current {
    background-color: var(--tertiary-color);
  }

  .show-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: dissolve;
    animation-duration: 0.4s;
  }

  @keyframes dissolve {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }
}

/* Footer Component */

footer {
  display: flex;
  padding: 3rem 2rem;
  align-items: center;
  justify-content: space-between;
  position: static;
  bottom: 0;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(208, 215, 215) 24%,
    rgba(255, 250, 250, 1) 100%
  );
  color: var(--font-color);
}

footer p {
  font-size: clamp(1rem, 4vw + 0.2rem, 1.5rem);
}

footer img {
  width: 2.5rem;
  display: inline;
  padding-left: 0.4rem;
  transition-duration: 0.25s;
}

footer img:hover {
  filter: invert(1);
}

.socials {
  display: inline-flex;
  align-items: center;
}

/* Fade In Animation */

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-1%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
