main {
  padding: 1.5em;
}

h1 {
  margin: 4rem 1rem;
}

h3 {
  font-size: var(--fs-s);
  margin: 6rem 1rem;
  text-align: left;
}

.highlight {
  background-color: aquamarine;
  text-decoration: none;
}

a:visited {
  color: var(--font-color);
}

ul {
  list-style: none;
}

.projects {
  display: flex;
  flex-direction: column;
}

.projects li {
  height: fit-content;
  padding: 1.4rem;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.166);
  background-color:rgb(234, 242, 242)
}

.projects img {
  width: 9rem;
  height: 12rem;
  border-radius: 6px;
}

.proj-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1.5rem;
}

.project2 .proj-flex {
  flex-direction: row-reverse;
}
