main {
  padding: 1.5em;
}

h1 {
  margin: 4rem 1rem;
}

h3 {
  font-size: var(--fs-s);
  margin: 6rem 1rem;
  text-align: left;
}

.highlight {
  background-color: rgb(141, 196, 183);
  color: black;
  text-decoration: none;
}

a:visited {
  color: var(--font-color);
}

/* Projects Section */

.projects {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.projects li {
  display: flex;
  height: fit-content;
  padding: 1.4rem;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.166);
  background-color: var(--tertiary-color);
}

.projects img {
  max-height: 20rem;
  width: auto;
  border-radius: 3px 18px 3px 18px;
  object-fit: contain;
  align-self: flex-start;
}

.project2 {
  flex-direction: row-reverse;
}

.project2 div {
  margin-left: 1.5rem;
}

.projects p {
  max-width: 100%;
  margin: 2.5rem 0;
  padding-right: 0.73rem;
}

@media screen and (max-width: 768px) {
  .projects li {
    display: block;
    justify-content: center;
  }

  .projects img {
    display: block;
    margin: 0 auto;
    border-radius: 3px 18px 3px 18px;
  }
}
