main {
  padding: 1.5em;
}

h3 {
  font-size: var(--fs-s);
  margin: 2em 1.5em;
  text-align: left;
}

.highlight {
  background-color: aquamarine;
  text-decoration: none;
}

a:visited {
  color: var(--font-color);
}

ul {
  list-style: none;
}



.projects {
  display: flex;
  flex-direction: column;
}

.projects li {
  /* background-color: #d9eeee; */
  padding: 1.4rem;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.166);
}

img {
    width: 50%;
    border-radius: 2px;
    /* display: inline-block; */
}

.proj-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.project2 .proj-flex {
    flex-direction: row-reverse;
}